* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Search Input */

.search {
  width: 280px;
  padding: 14px 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #111;
  color: #aaa;
  font-size: 14px;
}

.search::placeholder {
  color: #555;
}

/* Card */

.cardContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;     
  justify-content: center;
  padding: 20px;
}

/* Background Image */

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark Blur Overlay */

.overlay {
  inset: 0; 
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1)
  );
   backdrop-filter: blur(3px);
} 

.card{
   width: 220px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
}
/* Content */

.card-content {
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: white;
}

.card-content h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.card-content p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.4;
}